<!DOCTYPE html>
<html>
  <head>
    <title>Manycure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- google and social media tags-->
    <meta property="og:site_name" content="Manycure Official Site">
    <meta property="og:title" content="Manycure Official Site">
    <meta property="og:url" content="https://www.manycure.pt">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The official website for Manycure, producer and DJ.">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path , :class => "manycurelink" do %>
        <i class="far fa-hand-paper"></i>
      <% end %>

      <%= link_to root_path , :class => "manycurelink" do %>
        <h3 class="navbar-title" id="manycure">Manycure</h3>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="releases">Releases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dates">Dates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mixes">Mixes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>

<script>
  $('.navbar-title').click(function (event) {
    window.location.reload(true);
  });
</script>

</html>
